<br><br>
<h2 class="auth">Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="username">Usuario</label>
  <input id="username" type="text" name="username" placeholder="Lola Mento">

  <br><br>

  <label for="password">Contraseña</label>
  
  <input id="password" type="password" name="password" placeholder="Tu contraseña">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button class="btn-form">Login</button>
 <br><br> <br>
{{#unless user}}
<a class="social-login" href="/auth/google/"><span>>Conecta con Google</span></a>
{{/unless}}

  <p class="account-message">
    ¿No tienes cuenta todavía?
    <a href="/auth/signup">Regístrate</a>
  </p>
</form>
