<br><br>
<h2 class="auth">COMENTARIO NUEVO</h2>

<form action="/api/parking/add-review" method="POST">


<input type="hidden" name="id" id="id" value="{{data.[0].id}}">
  <div class="form-field">
    <label for="text">Texto</label>
    <textarea id="text" type="textarea" name="text" cols="30" rows="10"></textarea>
  </div>

  <div class="form-field">
    <label for="assessment">Valoración</label>
    <select name="assessment" id="assessment">
<option name="1" id="1">1</option>
<option name="2" id="2">2</option>
<option name="3" id="3">3</option>
<option name="4" id="4">4</option>
<option name="5" id="5">5</option>

    </select>

  </div>


  
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  
<br><br>
  <button class="btn-form">Leave a comment</button>

  <br><br><br>

</form>