<br><br>
<h2 class="auth">PROFILE</h2>
<br><br>
<h3>
  Your username: {{userFound.username}}
</h3>
<p>
  Your email is: {{userFound.email}}
</p>
<p>
  Your picture is:
</p>
<br>
<img src="{{userFound.photo.url}}" alt="user-picture">
<br><br><br>
<a href="/profile/update">Update your profile</a>


