
{{#if dataView.home}}
<p class="description">Encuentra plaza en tu parking más cercano {{dataView.title}}</p>


<ul class="nav-home">
  <li><button class="search-map" id="search-map">Buscar en Madrid</button></li>
  
  <li><a class="social-login" id="social-login" href="auth/google"><span>Conectar con Google</span></a></li>
  <li><span><a href="#">Login</a> / <a href="#">signup</a></span></li>
</ul>
{{/if}}

<script src="/javascripts/view-handlers/home.handler.js"></script>

{{#if dataView.search}}
  <script>
    searchView.create();
  </script>
{{/if}}