<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{dataView.title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />



  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo&libraries=places"></script>

  <script src="/javascripts/services/axios.service.js"></script>
  <script src="/javascripts/services/map.service.js"></script>
  <script src="/javascripts/services/transition.service.js"></script>

  <script src="/javascripts/view-handlers/search.handler.js"></script>

  


</head>

<body>
  <div class="container">
    <header class="{{dataView.header}}">
      <h1><a href="{{url}}">madParking</a></h1>
      <nav>
        <a href="/">Home</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Signup</a>
        <a href="/auth/logout">Logout</a>
      </nav>
    </header>


    {{{body}}}

  </div>
</body>

</html>