<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{dataView.title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />



  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo&libraries=places"></script>

<script src="/javascripts/view-handlers/home.handler.js"></script>
  <script src="/javascripts/services/axios.service.js"></script>
  <script src="/javascripts/services/map.service.js"></script>
  <script src="/javascripts/services/transition.service.js"></script>

  {{!-- <script src="/javascripts/view-handlers/home.handler.js"></script> --}}

  <script src="/javascripts/view-handlers/search.handler.js"></script>
  <script src="/javascripts/view-handlers/menu.handler.js"></script>
  

  


</head>

<body>
  <div class="main-container">
    <div class="container">
      <header class="{{dataView.header}}">
        <h1 class="logo {{#if dataView.search}}hidden{{/if}}"><a href="/">mad<span style="color: #70C1B3" class="icon-logo"></span>arking</a></h1>
        <a class="user-area" href="#"> <span class="icon-user-circle-o"></span></a>
        <nav>

          {{#unless dataView.auth}}
          {{#unless user}}

          <a href="/auth/login" ><span class="icon-user"></span> Login</a>
          <a href="/auth/signup" ><span class="icon-clipboard"></span> Signup</a>
          {{/unless}}
            {{#if user}}

            <a href="/"><span class="icon-profile"></span> Perfil</a>
            <a href="/" class="btn-favorites"><span class="icon-heart"></span> Favoritos</a>
            <a href="/auth/logout"><span class="icon-exit"></span> Salir</a>
            
            {{/if}}
          {{/unless}}
        </nav>
      </header>

   
      {{{body}}}
  
    </div>
  </div>
</body>

</html>