.description {
  font-size: $size-h2;
  padding: 3rem 1rem;
  color: $super-dark-blue;
  text-align: center;
}

.social-login {
  background-image: url('https://res.cloudinary.com/dctu91qjy/image/upload/v1569432952/Resources/btn_google_signin_dark_disabled_web_np7el0.png');
  background-repeat: no-repeat;
  border: 1px;
  display: block;
  margin: 0 auto;
  width: 191px;
  height: 46px;
  
}
.social-login span {
  display: none;
}

.search-map {
  color: #fff;
  background-color: rgba(47, 188, 113, 1);
  width: 90%;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-size: 2rem;
}


.search-map, .social-login {
  outline: none;
  cursor: pointer; 
  border: 0px;
}

.nav-home {
  width: 25rem;
  margin: 0 auto;


  & li {
    
    text-align: center;

    &:nth-child(2) {
      margin-top: 3rem;
      text-align: center;
    }
  
    &:last-child {
      margin-top: 1rem;
      text-align: center;

      & span {
        position: relative;
        left: 41px;
      }
    
      & a {
        color: $dark-blue;
      } 
    } 
  }
}