.search div.map {

  height: 100%;
  width: 100%;  
}


#pac-container {
  position: absolute;
  top: 2rem;
  width: 100%;
  text-align: center;
  z-index: 1;
}
#pac-container div {
  position: relative;
  border: 5px solid #F3FFBD2c;
  width: 80%;
  background-color: #F3FFBD2c;
  margin: 0 auto;
}
#pac-container input {
  height: 5rem;
  width: 100%;
  border-radius: 1rem;
  border: 0;
  outline: none;
  font-size: 15px;
  padding: 0 2rem;
  padding-right: 8rem;
  color: $blue;
  background-color: #Ffffffdd;
  transition: background-color .4s cubic-bezier(0.705, 0.75, 0.705, 0.86);
  cursor: pointer;
}

#pac-container a, #btn-search {
  text-decoration: none;
  position: absolute;
  font-size: 2rem;
 
}

#usar-ubicacion {
  
  right: 5.5rem;
  top: 1.6rem;
  color: $blue;

}

#btn-search {
  right: 2rem;
  top: 1.6rem;
  color: $dark-blue;
}

#pac-container input:focus {
  
  background-color: #Ffffff;

}