.main-container {
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  transition: top 1s cubic-bezier(0.705, 0.75, 0.705, 0.86);
  top: 0;
}
.container { 
  text-align: center;
}

.main-container.hidden {
  top: calc(100vh);
}

.detailsBox {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: calc(50vh);
  background-color: #fff;
  transition: top .8s cubic-bezier(0.0705, 0.775, 0.005, 0.786);

  &.show {
    top: 50vh;
  }

}

