// Esto irá en stylesheets/sass/pages/section.scss cuando esté definido el nombre de la sección
.template-animated-view {
  position: absolute;
  top: 100vh;
  transition: top .95s cubic-bezier(0.055, 0.75, 0.055, 0.86);
  background-color: skyblue;
  height: calc(100vh - 8rem);
  width: 100%;
  border-top: 2px solid $green;

}
.template-animated-view.show {
  top: 8rem; 
}



