// Esto irá en stylesheets/sass/pages/section.scss cuando esté definido el nombre de la sección
.template-animated-view {
  position: absolute;
  top: 100vh;
  transition: top .8s cubic-bezier(0.055, 0.75, 0.055, 0.86);
  background-color: skyblue;
  border-bottom: 1px solid blue;
  height: calc(100vh - 5rem);
  width: 100%;

}
.template-animated-view.show {
  top: 5rem; 
}

