<section class="container-section">
  <div class="search template-animated-view">
      <div id="map" class="map"></div>

      <div id="pac-container">
        <input id="pac-input" type="text" placeholder="Enter a location">
      </div>

      <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name" class="title"></span><br>
        <span id="place-address"></span>
      </div> 
  </div>

  <script>showSection()</script>
  
</section>

