label {
  display: block;
  color: $blue;

  &+ input {
    padding: 1rem 2rem;
    width: 100%;
    border: 1px solid $green;
    color: $blue;
    outline: none;
    font-size: 2rem;
    padding-left: 2rem;
    
  } 
}

.form-field {
  margin-bottom: 1.2rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.error-message {
  background-color: $red;
  color: #fff;
  padding: 1rem 0;
}
