$font-logo: Helvetica, Arial, sans-serif;
$size-logo: 6rem;
$font-text: Helvetica, Arial, sans-serif;
$size-text: 1.6rem;


$size-h2: 5rem;

$green: #70C1B3;
$blue: #247BA0;
$light-green: #B2DBBF;
$yellow: #F3FFBD;
$red: #FF1654;

$dark-blue: #313156;
$super-dark-blue: #272c34;

